<div class="border-card">
    <mat-card>
            <mat-card-title class="primary-title">Current Month</mat-card-title>
        <mat-card-content class="flexbox-container">
            <div class="flex-items">
                <p class="standard-card-title">Amount</p>
                <p>{{ this.debtRequest.target_amount | formatAmount  }}€</p>
            </div>
            <div class="flex-items">
                <p class="standard-card-title">Period</p>
                <p>{{ this.debtRequest.target_period_months }}</p>
            </div>
            <div class="flex-items">
                <p class="standard-card-title">Date</p>
                <p>{{ this.debtRequest.date }}</p>
            </div>
            <div class="flex-items">
                <p class="standard-card-title">Borrower</p>
                <p>{{ this.debtRequest.user.username }}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="secondary-btn" (click)="this.showCreateProposal()">Invest</button>
            <span class="extraSpace"></span>
        </mat-card-actions>
    </mat-card>
</div>
<app-create-investment-proposal *ngIf="createProposalStatus" [debtRequest]="this.debtRequest"
    (createProposalForm)="this.createInvestmentProposal($event)"></app-create-investment-proposal>