<div class="change-balance--item">
    <mat-card class="change-balance-card">
        <mat-card-title class="change-balance-title">Deposit Amount</mat-card-title>

        <form [formGroup]="this.depositForm" (ngSubmit)="this.depositFunds()">
            <mat-form-field>
                <mat-label>Deposit</mat-label>
                <input formControlName="deposit" matInput type="text" placeholder="Deposit amount here" />
            </mat-form-field>

            <button class="secondary-btn" mat-button>
                Deposit
            </button>
        </form>
    </mat-card>
</div>