p {
    line-height: 1.75;

  }
  
  a {
    color: #8EB897;
  }
  
  a:hover {
    color: #249b51;
  }
  
  .text-primary {
    color: #8EB897 !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
  
  section {
    padding: 150px 0;
  }

  ::-moz-selection {
    background: #8EB897;
    text-shadow: none;
  }
  
  ::selection {
    background: #8EB897;
    text-shadow: none;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }

  .brand-img {
    width: 70px;
    height: auto;
  }

  .table-name {
    font-size: 1.35em;
    line-height: 15px;
    margin-bottom: 10px;
    color: rgb(196, 170, 93);
    font-family: 'Roboto', sans-serif;
  }

  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #8EB897;
    font-family: 'Roboto', sans-serif;
  }
  
  #mainNav .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  #mainNav .navbar-brand.active,
  #mainNav .navbar-brand:active,
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #249b51;
  }
  
  #mainNav .navbar-nav .nav-item.active,
  #mainNav .navbar-nav .nav-item :hover {
    color: #8EB897;
  }

  .register-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
  }
  
  
  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #2D2E2E;
    color: #bababa;
    min-height: 100%;
    position: relative;
  }
  
  .background {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #2D2E2E;
    color: #bababa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    min-height: 100%;
    position: relative;
  }
  
  .containerTitle {
    color: #8EB897;
  }

  .input-field {
    background-color: white
  }


  .login-register-cards {
    width: 220px;
    font-weight: 400;
  }

  .register-log-title {
    font-size: 30px;
    color: rgb(196, 170, 93);
    padding-bottom: 20px
  }

  .dashboard-individual-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
    height: 220px;
    font-weight: 400;
    font-size: 40px;
  }

  .dashboard-title {
    font-weight: 600;
  }

  .standard-card-title {
    font-weight: 600;
  }

  .proposal-title-white {
    font-size: 15px;
  }

  .dashboard-card {
    width: 220px;
    height: 250px;
    font-weight: 400;
  }

  .dashboard-card p {

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }

  .primary-title {
    font-size: 24px;
    color: rgb(196, 170, 93);
    padding-bottom: 20px
  }

  .change-balance-card {
    background-color: rgb(77, 110, 103);;
    font-weight: 400;
    border-radius: 5px;
  }

  .change-balance-title {
    color: #8EB897;
    font-size: 15px;
  }

  .change-balance-card mat-label {
    color:white
  }

  .change-balance-card mat-form-field {
    width: 140px;
  }

  .change-balance-card input {
    color:white;
  }

  .horizontal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
  }

  .create-request-card {
    height: 120px;
    background-color: rgb(77, 110, 103);
    font-weight: 400;
    border: 2px solid #BCAB79;
    border-radius: 5px;
  }

  .create-request-card p {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .create-request-card input {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .create-request-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 250px;
    margin-top: 10%;
  }

  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-request-card mat-label {
    color:white
  }

  .create-request-card input {
    color:white
  }

  .create-request-card p {
    color:white
  }

  .request-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .request-card {
    width: 250px;
    height: 220px;
    font-weight: 400;
    background-color: rgb(77, 110, 103);;
    border: 2px solid rgb(196, 170, 93);
    border-radius: 5px;
  }

  .request-proposal-card {
    width: 250px;
    height: 200px;
    font-weight: 400;
    background-color: #8EB897;
    border: 2px solid rgb(196, 170, 93);
    border-radius: 5px;
  }

  .create-request-card mat-label {
    color:white
  }

  .request-card app-edit-in-place {
    margin: 5px;
    color:white
  }

  .create-proposal {
    background-color: rgb(77, 110, 103);;
    font-weight: 400;
    border-radius: 5px;
  }

  .create-proposal-title {
    color: #8EB897;
    font-size: 15px;
  }

  .create-proposal mat-label {
    color:white
  }


  .create-proposal input {
    color:white
  }

  .request-card p {
    color:white
  }

  .border-card {
    height: 130;
    font-weight: 500;
    border: 5px solid rgb(77, 110, 103);;
    border-radius: 5px;
  }

  
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.flex-items {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.flexbox-container-smart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
}

.flex-items-smart {
  display: inline-block;
  padding: 30px;
}

.card-background-color {
  background-color: whitesmoke;
}


.single-loan {
  margin-top: 5%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(77, 110, 103);
}

  @media (min-width: 992px) {

    .border-card {
      border: 20px solid rgb(77, 110, 103);;
      border-radius: 5px;
      
    }
    
    .create-request-card {
      width: 520px;
      height: 120px;
      font-weight: 400;
      border: 2px solid rgb(196, 170, 93);
      border-radius: 5px;
    }

    .dashboard-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #2D2E2E;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }

  .navbar-username-text {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px!important;
    margin-left: 50px;
  }

  .navbar-menu {
    color: #8EB897;
  }

  .navbar-text {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  } 
  
  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  } 

  .flex-container-loans {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2E2E
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2E2E;
}

.loan-details {
  width: 90%;

}

.single-loan {
  margin-top: 5%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(77, 110, 103);
}

.table {
  padding-top: 2%;
  padding-bottom: 2%;
}

.dashboard-navigation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

  @media (min-width: 768px) {

    .deposit-withdraw-place {
      margin-left: 320px
    }

    header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }

    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 400;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Roboto', sans-serif;
    }
  }
  
  .primary-btn {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 160px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    font-weight: 400;
    padding: 20px
  }

  .secondary-btn {
    font-size: 13px;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color:black;
    border-radius: 100%;
    outline: none;
    background-color: #8EB897;
  }

  .third-btn {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 160px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 0px;
    outline: none;
    background-color: #8EB897;
    align-content: right;
  }

  .third-btn:active,
  .third-btn:hover {
    background-color: #BCAB79;
  }

  .route-title{
    color: white;
    font-size: 20px;
  }
  
  .primary-btn:active,
  .primary-btn:focus,
  .primary-btn:hover {
    background-color: #8EB897;
  }

  .secondary-btn:active,
  .secondary-btn:hover {
    background-color: #BCAB79;
  }
  
  #mainNav {
    background-color: #8EB897;
  }
  
  html {
    height: 100%;
  }
