<div class="border-card">
  <mat-card class="card-background-color">
      <mat-card-title class="primary-title">Proposal</mat-card-title>
    <mat-card-content class="flexbox-container">
      <div class="flex-items">
        <p class="standard-card-title">Amount</p>
        <p>{{ this.investmentProposal.proposed_amount | formatAmount }}€</p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Period</p>
        <p>{{ this.investmentProposal.proposed_period_months }}</p>
      </div>

      <div class="flex-items">
        <p class="standard-card-title">Status</p>
        <p>{{ this.investmentProposal.proposal_status | proposalStatus }}</p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Borrower</p>
        <p>{{ this.investmentProposal.debt.user.username }}</p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Interest %</p>
        <p>
          <app-edit-in-place [prop]="this.interestedFormated"
            (update)="this.updateProposalInterest($event)"></app-edit-in-place>
        </p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Penalty %</p>
        <p>
          <app-edit-in-place [prop]="this.penaltyFormated" (update)="this.updatePenaltyRate($event)">
          </app-edit-in-place>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="secondary-btn" mat-button (click)="this.deleteInvestmentProposal()">
        Delete
      </button>
      <span class="extraSpace"></span>
      <button class="secondary-btn" mat-button (click)="this.updateInvestmentProposal()">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</div>