<div class="background">
  <div class="dashboard-content">
    <div class="dashboard-navigation-btn">
      <button class="primary-btn" mat-button [routerLink]="['/loans/investor']">
        Loans
      </button>
      <button class="primary-btn" mat-button [routerLink]="['/investor']">
        Proposals
      </button>
      <button class="primary-btn" mat-button [routerLink]="['/investor/debtrequests']">
        Requests
      </button>
    </div>
  </div>
</div>