<app-investor-navigation></app-investor-navigation>

<div class="flexbox-container-smart">
  <div class="flex-items-smart" *ngFor="let investmentProposal of investmentProposals">
    <div class="container">
      <app-investment-proposal-details (deleteProposal)="this.deleteProposal($event)"
        (updateProposal)="this.updateProposal($event)" class="investmentProposal-details"
        [investmentProposal]="this.investmentProposal"></app-investment-proposal-details>
    </div>
  </div>
</div>