
body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
  }

  @media screen and (max-width: 600px) {
    .column-title {
        font-size: 0px;
        color:white;
    }
  }

  @media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
      
    }

    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }