<div class="table-name">Total Loan</div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Installments Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Installments Total </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Installments Total"> {{ this.loan.period_months }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Loan Amount Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Total </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Loan Amount Total"> {{ this.loan.amount | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Interest Amount Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interest Total </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Interest Amount Total">
                {{ this.totalLoanInterestAmount | formatAmount }}€ </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Amount Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Total Amount Total">
                {{ this.totalLoanInterestAmount + this.loan.amount | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Annual Interest">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Annual Interest </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Annual Interest">
                {{ this.loan.annual_interest | showPercent }}%
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Creation Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Creation Date">
                {{ this.loan.creation_date }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Borrower">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Borrower </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Borrower">
                {{ this.loan.borrower.username }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Investor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Investor </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Investor">
                {{ this.loan.investor.username }}
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>