<app-borrower-navigation></app-borrower-navigation>

<div>
  <div class="flexbox-container-smart">
    <div class="flex-items-smart" *ngFor="let request of debtRequests">
      <app-debt-request-details (deleteDebtRequest)="this.deleteDebtRequest($event)" [debtRequest]="this.request"
        (updateDebtRequest)="this.updateDebtRequest($event)" (rejectProposal)="this.rejectProposal($event)"
        (acceptProposal)="this.acceptProposal($event)"></app-debt-request-details>
    </div>
  </div>
</div>