<app-investor-navigation></app-investor-navigation>

<div class="flexbox-container-smart">
  <div class="flex-items-smart" *ngFor="let debtRequest of debtRequests">
    <div class="container">
      <app-individual-open-debt-requests class="debtRequest-details" [debtRequest]="this.debtRequest"
        (createProposal)="this.createInvestmentProposal($event)"></app-individual-open-debt-requests>
    </div>
  </div>
</div>