<div class="table-name">Current Month</div>
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Borrower">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Borrower </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Borrower"> {{ this.loan.borrower.username }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Amount"> {{ this.monthlyLoanInstallment | formatAmount }}€ </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Interest">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Interest </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Interest"> {{ this.monthlyInterestAmount | formatAmount }}€
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount Overdue">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Overdue </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Overdue"> {{ this.amountOverdue | formatAmount }}€ </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Total"> {{ this.monthlyTotalAmount | formatAmount }}€ </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Due Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Due Date"> {{ this.currentInstallmentDueDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Status"> {{ this.loanStatus }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Days Overdue">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Days Overdue </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Days Overdue"> {{ this.daysOverdue }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div>