<div class="background">

  <div class="dashboard-content" *ngIf="this.totalInvestments">
    <div class="dashboard-navigation-btn">
      <button class="primary-btn" mat-button [routerLink]="['/loans/borrower']">
        Borrower Mode
      </button>
      <button class="primary-btn" mat-button [routerLink]="['/loans/investor']">
        Investor Mode
      </button>
    </div>
  </div>

  <div class="flexbox-container-smart">

    <div class="flex-items-smart">
      <div class="border-card">
        <mat-card class="dashboard-individual-item">
          <mat-card-title class="primary-title">Balance</mat-card-title>
          <mat-card-content>
            <p class="dashboard-title">Amount</p>
            <p>{{ this.userBalance | formatAmount }}€</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="secondary-btn" mat-button (click)="this.showDepositField()">
              Deposit
            </button>
            <button class="secondary-btn" mat-button (click)="this.showWithdrawField()">
              Withdraw
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="this.depositStatus" class="change-balance-content">
        <app-deposit (newDeposit)="this.depositFunds($event)"></app-deposit>
      </div>
      <div *ngIf="this.withdrawStatus" class="change-balance-content">
        <app-withdraw (newWithdraw)="this.withdrawFunds($event)"></app-withdraw>
      </div>
    </div>

    <div class="flex-items-smart">
      <div class="border-card">
        <mat-card class="dashboard-individual-item">
          <mat-card-title class="primary-title">Investments</mat-card-title>
          <mat-card-content>
            <p class="dashboard-title">Amount</p>
            <p>{{ this.totalInvestments | formatAmount }}€</p>
            <p class="dashboard-title">Number</p>
            <p>{{ this.investorLoans }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="flex-items-smart">
      <div class="border-card">
        <mat-card class="dashboard-individual-item">
          <mat-card-title class="primary-title">Debts</mat-card-title>
          <mat-card-content>
            <p class="dashboard-title">Amount</p>
            <p>{{ this.totalDebts | formatAmount }}€</p>
            <p class="dashboard-title">Number</p>
            <p>{{ this.borrowerLoans }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>