<div class="table-name">Start-To-Date</div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Installments Paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Installments Paid </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Installments Paid"> {{ this.installmentsPaid }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Loan Amount Paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Paid </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Loan Amount Paid"> {{ this.loanAmountPaid | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Interest Amount Paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interest Paid </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Interest Amount Paid">
                {{ this.interestAmountPaid | formatAmount }}€ </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Amount Paid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Paid </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Total Amount Paid"> {{ this.totalAmountPaid | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Installments Left">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Installments Left </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Installments Left"> {{ this.installmentsLeft }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Loan Amount Left">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Left </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Loan Amount Left"> {{ this.loanAmountLeft | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Interest Amount Left">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interest Left </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Interest Amount Left">
                {{ this.interestAmountLeft | formatAmount }}€ </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Amount Left">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Left </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Total Amount Left"> {{ this.totalAmountLeft | formatAmount }}€
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Installments Overdue">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Installments Overdue </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Installments Overdue"> {{ this.installmentsOverdue }}
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>