<app-borrower-navigation></app-borrower-navigation>
<div>
  <div class="flex-container-loans">
    <div class="loan-details" gutterSize="6px">
      <div class="tile-container" *ngFor="let loan of loans">
        <div class="single-loan">
          <div class="table">
            <app-borrower-loan-table class="app-investor-loan" (createPayment)="this.createPayment($event)"
              [loan]="this.loan"></app-borrower-loan-table>
          </div>

          <div class="table">
            <app-start-to-date-loan-table class="app-investor-loan" [loan]="this.loan"></app-start-to-date-loan-table>
          </div>

          <div class="table">
            <app-total-loan-table class="app-investor-loan" [loan]="this.loan"></app-total-loan-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>