<ng-container *ngIf="!updating">
  <span class="clickable" (click)="switchUpdating()">&nbsp;<span appHighlight
      highlightColor="lime">{{ prop }}</span></span>
</ng-container>

<ng-container *ngIf="updating">
  <input class="data-input" matInput [(ngModel)]="prop">
  <button class="save-button" mat-stroked-button (click)="switchUpdating()">Save</button>
</ng-container>