<mat-toolbar class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <mat-toolbar-row>
    <!-- <div class="navbar-brand" > -->
      <img class="brand-img" [routerLink]="['/home']"src="../../../../assets/android-chrome-192x192.jpg">
    <!-- </div> -->
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a href="#" mat-button class="navbar-text" *ngIf="this.loggedUserData" [routerLink]="['/home']"><i
        class="material-icons">
        home
      </i></a>
      <a href="#" mat-button class="navbar-text" *ngIf="this.loggedUserData" [routerLink]="['/dashboard']">Dashbord</a>
      <a href="#" mat-button class="navbar-text" *ngIf="this.loggedUserData"
        [routerLink]="['/loans/borrower']">Borrower</a>
      <a href="#" mat-button class="navbar-text" *ngIf="this.loggedUserData"
        [routerLink]="['/loans/investor']">Investor</a>
      <a href="#" mat-button class="navbar-text" *ngIf="!this.loggedUserData" [routerLink]="['users/login']">Login</a>
      <a href="#" mat-button *ngIf="this.loggedUserData" class="navbar-username-text">
        Hello, {{ this.loggedUserData.username }}</a>
      <a href="#" mat-button class="navbar-text" *ngIf="this.loggedUserData" (click)="this.logout()">
        <i class="material-icons">
          exit_to_app
        </i>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>