.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  padding: 15px;
  max-width: 100px;
  min-width: 25px;
}

mat-card {
  margin-top: 1%;
}


.accept-proposal {
  background-color: rgb(77, 110, 103);
  font-weight: 400;
  color: white;
  padding: 20px;
  /* border: 2px solid #BCAB79; */
}

.accept-proposal-title {
  color: #8EB897;
  font-size: 15px;
}

.accept-proposal mat-label {
  color:white
}

.accept-proposal mat-label {
  color:white
}


.accept-proposal mat-card-actions {
  padding-left: 10px
}
