
<mat-card class="accept-proposal" *ngIf="this.investmentProposal.proposal_status === 1">
  <mat-card-title class="primary-title">Pending Proposal</mat-card-title>
  <mat-card-content class="box">
    <div>
      <p class="proposal-title-white">Interest</p>
      <p>{{ this.investmentProposal.proposed_interest | showPercent }}%</p>
    </div>
    <div>
      <p class="proposal-title-white">Penalty</p>
      <p>{{ this.investmentProposal.penalty_rate | showPercent }}%</p>
    </div>
    <div>
      <p class="proposal-title-white">Investor</p>
      <p>{{ this.investmentProposal.user.username }}</p>
    </div>
    <div>
      <p class="proposal-title-white">Status</p>
      <p>{{ this.investmentProposal.proposal_status | proposalStatus }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
  <button class="secondary-btn" mat-button (click)="this.onAcceptProposal()">
    Accept
  </button>
  <button class="secondary-btn" mat-button (click)="this.onRejectProposal()">
    Reject
  </button>
</mat-card-actions>
</mat-card>
