<div class="change-balance--item">
    <mat-card class="change-balance-card">
        <mat-card-title class="change-balance-title">Withdraw Amount</mat-card-title>
        <form [formGroup]="this.withdrawForm" (ngSubmit)="this.withdrawFunds()">
            <mat-form-field>
                <mat-label>Withdraw</mat-label>
                <input formControlName="withdraw" matInput type="text" placeholder="Withdraw amount here" />
            </mat-form-field>
            <button class="secondary-btn" mat-button>
                Withdraw
            </button>
        </form>
    </mat-card>
</div>