<div class="border-card">
  <mat-card>
    <mat-card-title class="primary-title">Request</mat-card-title>
    <mat-card-content class="flexbox-container">
      <div class="flex-items">
        <p class="standard-card-title">Amount: </p>
        <p>
          <app-edit-in-place [prop]="this.debtRequest.target_amount  | convertToString "
            (update)="this.updateAmount($event)"></app-edit-in-place>
        </p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Period: </p>
        <p>
          <app-edit-in-place [prop]="this.debtRequest.target_period_months" (update)="this.updatePeriod($event)">

          </app-edit-in-place>
        </p>
      </div>
      <div class="flex-items">
        <p class="standard-card-title">Date: </p>
        <p>{{ this.debtRequest.date }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="secondary-btn" mat-button (click)="this.onDeleteDebtRequest()">
        Delete
      </button>
      <button class="secondary-btn" mat-button (click)="this.onEditDebtRequest()">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  <div *ngFor="let proposal of this.debtRequest.investment_proposals">
    <app-debt-request-proposals [investmentProposal]="this.proposal"
      (rejectInvestmentProposal)="this.rejectInvestmentProposal($event)"
      (acceptInvestmentProposal)="this.acceptInvestmentProposal($event)"></app-debt-request-proposals>
</div>