<div class="background">
  <div class="dashboard-content">
    <div class="dashboard-navigation-btn">
      <button class="primary-btn" mat-button [routerLink]="['/loans/borrower']">
        Loans
      </button>
      <button class="primary-btn" mat-button [routerLink]="['/borrower']">
        Requests
      </button>
      <button class="primary-btn" mat-button [routerLink]="['/borrower/newrequest']">
        New
      </button>
    </div>
  </div>
</div>