<div class="background">
  <div class="register-login-container">
    <div class="border-card">
      <mat-card class="login-register-cards">
        <mat-card-title class="register-log-title">Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="this.loginForm" (ngSubmit)="this.login()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput type="text" placeholder="Your username here" />
              <mat-error *ngIf="this.loginForm.controls.username.errors?.required">
                Please, insert your username
              </mat-error>
            </mat-form-field>

            <br /><br />

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="******" />
              <mat-error *ngIf="this.loginForm.controls.password.errors?.required">
                Please, insert your password
              </mat-error>
            </mat-form-field>

            <br /><br />
            <button class="secondary-btn" mat-button type="submit" [disabled]="!loginForm.valid">
              Login
            </button>
          </form>

          <p class="space">Not a member yet?</p>
          <button class="secondary-btn" mat-button [routerLink]="['/users/register']">
            Register
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>