<mat-card class="create-proposal">
  <p class="create-proposal-title">Create new investment proposal</p>
  <mat-card-content>
    <form [formGroup]="this.investmentProposalForm" (ngSubmit)="this.createInvestmentProposal()">
      <mat-form-field>
        <mat-label>Interest</mat-label>
        <input formControlName="proposed_interest" matInput type="text" placeholder="proposed interest" />
        <mat-error *ngIf="this.investmentProposalForm.controls.proposed_interest.errors?.min">
          Interest cannot be a negative number!
        </mat-error>
        <mat-error *ngIf="
        this.investmentProposalForm.controls.proposed_interest.errors?.pattern">
          Please, enter a number!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Penalty rate</mat-label>
        <input formControlName="penalty_rate" matInput type="text" placeholder="penalty rate" />
        <mat-error *ngIf="this.investmentProposalForm.controls.penalty_rate.errors?.min">
          Penalty rate cannot be a negative number!
        </mat-error>
        <mat-error *ngIf="this.investmentProposalForm.controls.penalty_rate.errors?.pattern">
          Please, enter a number!
        </mat-error>
      </mat-form-field>
      <button mat-button class="secondary-btn" type="submit" [disabled]="!this.investmentProposalForm.valid">
        Create
      </button>
    </form>
  </mat-card-content>
</mat-card>