<div class="background">
  <div class="register-login-container">
    <div class="border-card">
      <mat-card class="login-register-cards">
        <mat-card-title class="register-log-title">Register</mat-card-title>
        <mat-card-content>
          <form [formGroup]="this.registerForm" (ngSubmit)="this.register()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput type="text" placeholder="Your username here" />
              <mat-error *ngIf="this.registerForm.controls.username.errors?.minlength">
                Username should be at least 4 characters long!
              </mat-error>
              <mat-error *ngIf="this.registerForm.controls.username.errors?.maxlength">
                Username should be less than 20 characters long!
              </mat-error>
            </mat-form-field>

            <br /><br />

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput type="text" placeholder="Your email here" />
              <mat-error *ngIf="this.registerForm.controls.email.errors?.email">
                Valid email needed!
              </mat-error>
            </mat-form-field>

            <br /><br />

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="******" />
              <mat-error *ngIf="this.registerForm.controls.password.errors?.minlength">
                The password must be minimum five characters, at least one letter and one number!
              </mat-error>
            </mat-form-field>

            <br /><br />
            <button class="secondary-btn" mat-button type="submit" [disabled]="!registerForm.valid">
              Register
            </button>
          </form>
          <p class="space"></p>
          <button class="secondary-btn" mat-button [disabled]="registerForm.valid" [routerLink]="['/users/login']">
            Login
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>