<app-borrower-navigation></app-borrower-navigation>
<div class="background">
  <div class="underline">
    <div class="flexbox-container-smart">
    <div class="border-card">
      <mat-card >
        <mat-card-title class="primary-title">Create a Request</mat-card-title>
        <mat-card-content class="flexbox-container">
          <form [formGroup]="this.createDebtRequestForm" (ngSubmit)="this.createDebtRequest()">
            <p class="flexbox-item">
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input formControlName="target_amount" matInput type="text" placeholder="target amount" />
                <mat-error *ngIf="this.createDebtRequestForm.controls.target_amount.errors?.min">
                  The amount must be at least 1€!
                </mat-error>
                <mat-error *ngIf="this.createDebtRequestForm.controls.target_amount.errors?.pattern">
                  Please, enter a number!
                </mat-error>
              </mat-form-field>
            </p>
            <p class="flexbox-item">
              <mat-form-field>
                <mat-label>Period</mat-label>
                <input formControlName="target_period_months" matInput type="text" placeholder="target period" />
                <mat-error *ngIf="this.createDebtRequestForm.controls.target_period_months.errors?.min">
                  The period must be at least one month!
                </mat-error>
                <mat-error *ngIf="this.createDebtRequestForm.controls.target_period_months.errors?.pattern">
                  Please, enter a number!
                </mat-error>
              </mat-form-field>
            </p>
            <button class="secondary-btn" mat-button type="submit" [disabled]="!this.createDebtRequestForm.valid">
              Create
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</div>